html, body, .content, .container {
    height: 100%;
    font-family: "Arial Black", Helvetica, sans-serif;
}

.bg-twitter {
    background-color: rgb(21, 32, 43);
}

.btn-twitter {
    color: white !important;
    background-color: rgb(29, 161, 242);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: white;
    position: relative;
    top: 1px;
    left: 1px;
}

.btn-disabled {
    color: rgb(203, 203, 203) !important;
    background-color: rgb(21, 32, 43);
    border: 1px solid #6c757d;
}

.btn-disabled:hover {
    cursor: default;
    color: rgb(203, 203, 203) !important;
    position: relative;
    top: 0px;
    left: 0px;
}

.generator-item {
    width: 400px;
    height: 70px;

    padding: 10px;
    border: 1px solid #6c757d;
    color: rgb(203, 203, 203) !important;
    background-color: rgb(21, 117, 177);
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.generator-item:hover {
    color: white !important;
    cursor: pointer;
    background-color: rgb(29, 161, 242);
}

.generator-item-empty {
    color: rgb(203, 203, 203) !important;
    background-color: rgb(21, 32, 43);
}

.generator-item-empty:hover {
    color: rgb(203, 203, 203) !important;
    background-color: rgb(21, 32, 43) !important;
    cursor: default;
}

