{% extends 'base.html' %}
{% block content %}
    <div class="content row" style="padding: 10px">
        <div class="col-4 bg-twitter d-flex flex-column justify-content-around align-items-center" 
             style="margin-top: 56px;">
             <div class="container d-flex flex-column justify-content-around align-items-center" 
                  style="height: 100%; margin-top: 80px; margin-bottom: 80px; padding: 0;">
               <div class="generator-item rounded-pill">Joe Rogan</div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
             </div>
       </div>
       <div class="col-4 bg-twitter d-flex flex-column justify-content-around align-items-center" 
             style="margin-top: 56px;">
             <div class="container d-flex flex-column justify-content-around align-items-center" 
                  style="height: 100%; margin-top: 80px; margin-bottom: 80px; padding: 0;">
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
             </div>
       </div>
       <div class="col-4 bg-twitter d-flex flex-column justify-content-around align-items-center" 
             style="margin-top: 56px;">
             <div class="container d-flex flex-column justify-content-around" 
                  style="height: 100%; margin-top: 80px; margin-bottom: 80px; padding: 0;">
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
               <div class="generator-item generator-item-empty rounded-pill"></div>
             </div>
       </div>
    </div>
{% endblock %}