{% extends 'base.html' %}
{% block content %}
   <div class="content row">
        <div class="col-6 bg-twitter border border-secondary border-bottom-0 border-left-0 d-flex justify-content-center align-items-center" 
             style="margin-top: 56px;">
            <a href="/generators" class="btn btn-twitter h-50 w-75" style="font-size: 65px; border-radius: 30px;">Tweet Generators</a>
        </div>
        <div class="col-6 bg-twitter border border-secondary border-bottom-0 border-right-0  d-flex justify-content-center align-items-center"
             style="margin-top: 56px;">
            <a class="btn btn-twitter h-50 w-75 btn-disabled" style="font-size: 65px; border-radius: 30px;">Sentiment Analysis</a>
        </div>
   </div>
{% endblock %}