{% extends 'base.html' %}
{% block content %}
    <div class="content row" style="padding: 10px">
        <div class="col-4 bg-twitter d-flex flex-column justify-content-around align-items-center" 
             style="margin-top: 56px;">
             <div class="container d-flex flex-column justify-content-around align-items-center" 
                  style="height: 100%; margin-top: 80px; margin-bottom: 80px; padding: 0;">
                  {% for item in col_one %}
                        {% if item %}
                              <a class="generator-item rounded-pill" href="/generators/{{ item.slug }}">{{ item.name }}</a>
                        {% else %}
                              <div class="generator-item generator-item-empty rounded-pill"></div>
                        {% endif %}
                  {% endfor %}
             </div>
       </div>
       <div class="col-4 bg-twitter d-flex flex-column justify-content-around align-items-center" 
             style="margin-top: 56px;">
             <div class="container d-flex flex-column justify-content-around align-items-center" 
                  style="height: 100%; margin-top: 80px; margin-bottom: 80px; padding: 0;">
                  {% for item in col_two %}
                        {% if item %}
                              <a class="generator-item rounded-pill" href="/generators/{{ item.slug }}">{{ item.name }}</a>
                        {% else %}
                              <div class="generator-item generator-item-empty rounded-pill"></div>
                        {% endif %}
                  {% endfor %}
             </div>
       </div>
       <div class="col-4 bg-twitter d-flex flex-column justify-content-around align-items-center" 
             style="margin-top: 56px;">
             <div class="container d-flex flex-column justify-content-around" 
                  style="height: 100%; margin-top: 80px; margin-bottom: 80px; padding: 0;">
                  {% for item in col_three %}
                        {% if item %}
                              <a class="generator-item rounded-pill" href="/generators/{{ item.slug }}">{{ item.name }}</a>
                        {% else %}
                              <div class="generator-item generator-item-empty rounded-pill"></div>
                        {% endif %}
                  {% endfor %}
             </div>
       </div>
    </div>
{% endblock %}