{% extends 'base.html' %}
{% block content %}
    <div class="container d-flex flex-column align-items-center" style="margin-top: 56px; color: white;">
        <h1 class="text-align-center" style="margin-top: 40px; font-size: 50px;">Marcus Aurelius</h1>
        <h4 class="w-50" style="text-align: center; font-size: 30px; margin-top: 20px; height: 200px;">{{sentence}}</h4>
        <a class="btn btn-twitter w-50 rounded-pill" style="height: 60px; font-size: 30px; margin-top: 10px;" href="/generators/display">Generate</a>
    </div>
{% endblock %}